body {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    position: absolute;
    top: 0px;
    height: 10%;
    background-color: var(--primary);
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0px;
    height: 10%;
    background-color: var(--primary);
}